.title{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.subtitle{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.section{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.link_text{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
